@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: "Fredoka", sans-serif;
  padding: 0 .3rem 1rem .3rem;
}

body h1 {
  text-align: center;
  margin: 2rem 0;
}

.obfuscateTheme {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 90%;
  margin: 0 auto;
  font-size: 12pt;
}

.newExecutant {
  background-color: seagreen;
  color: white;
  cursor: pointer;
  font-size: 8pt;
  font-weight: bolder;
}

.boxDinamicAddExecutants {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.boxDinamicAddExecutants input {
  margin-right: .3rem;
  width: 80%;
}

.controlTime {
  display: flex;
  align-items: center;
  gap: .7rem;
}

form input,
button {
  height: 40px;
  border-radius: 10px;
  border: 0;
  padding: 3px;
  background-color: white;
  cursor: pointer;
}

.dataInput {
  width: 100%;
  display: block;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 0;
  padding: 7px;
  background-color: white;
}

.deleteButton {
  background-color: darkred;
  color: white;
  font-size: 8pt;
  width: 18%;
}

.livePreview {
  display: none;
}

.closeBtn {
  width: 28px;
  height: 28px;
  background-color: purple;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  right: 3px;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.closeBtn:hover {
  background-color: rgb(130, 70, 189);
}

.sartLivePreviewClass.livePreview {
  width: 100%;
  max-width: 360px;
  background-color: white;
  padding: 3rem 1rem;
  border-radius: 5px;
  margin: 2rem auto 0 auto;
  display: block;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.textLive {
  white-space: pre-wrap;
}

.boxVersionAlert {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #292929;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.boxVersionAlert button {
  margin: 0 auto;
  background-color: seagreen;
  font-weight: bold;
  padding: .3rem 4rem;
  color: white;
}

.versionDisplay {
  text-align: center;
  margin-top: 3rem;
  font-size: 7pt;
}